.content-bot
    h2.content-bot__title Подключите самый популярный пакет каналов со скидкой
    span 249 руб/мес
    p При подключении на 3 месяца
    span 199 руб/мес
    p При подключении на 6 месяца
    a.button(href="#") Подключить
