div.content-mid
    h2.content-mid__title Почему именно Viasat Premium HD?
    div.content-col
        div.content-col__item
            svg.content-col__img <use xlink:href='#star'/>
            h2.content-col__title Самый популярный
            p.content-col__text Наиболее подключаемым среди наших клиентов. Вне конкуренции!
        div.content-col__item
            svg.content-col__img <use xlink:href='#tv_hd'/>
            h2.content-col__title Качество Full HD
            p.content-col__text А так же звуковое сопровождение формата Dolby Surround
        div.content-col__item
            svg.content-col__img <use xlink:href='#tv_portal'/>
            h2.content-col__title Новинки проката
            p.content-col__text 10-15 новинок каждую неделю и сотни любимых фильмов в ротации
