doctype html
head
    title Тестовое задание Дом.ру
    link(rel="stylesheet" href="./bundle.css" type='text/css')
body
    div.page
        div.content
            include blocks/content-top/content-top
            include blocks/content-top/content-mid
