doctype html
head
    title Тестовое задание Дом.ру
    link(rel="stylesheet" href="./bundle.css" type='text/css')
    script(src="js/bundle.js")
    meta(charset="UTF-8")
body
    div.page
        div.content
            include blocks/content-top/content-top
            include blocks/content-mid/content-mid
            include blocks/content-bot/content-bot
            include blocks/footer/footer
