@font-face {
	font-family: 'FedraSansPro-Book';
	src: url('fonts/FedraSansPro-Book.eot');
	src: local('☺'), url('fonts/FedraSansPro-Book.woff') format('woff'), url('fonts/FedraSansPro-Book.ttf') format('truetype'), url('fonts/FedraSansPro-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
