.button{
    padding: 14px 25px;
    background: #FFDD00;
    color: #000;
    text-decoration: none;
    border-bottom:2px solid #F59300;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'FedraSansPro-Medium';
}

.page{
    justify-content: center;

}

.content{
    width:950px;
    width: 100%;
}

.content-col{
    justify-content: space-between;
    &__item{
        flex-direction: column;
    }
    &__img{

    }
    &__title{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 18px;
    }
}

