div.content-top
    img(src="img/logo.png" width="61px")
    h2.content-top__title Где лучшее кино? Друзья подскажут!
    p.content-top__text   Наши Клиенты точно знают, где можно раздобыть самые свежие, впечатляющие, удивительные и супеинтересные фильмы. Конечно, в пакете каналов Viasat Premium HD!
